body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right,orange,rgb(255, 1, 221));
    font-family: Arial, sans-serif;
    height:100vh;
}

.navbar {
    background: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    float: left;
    margin-right: 20px;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar a:hover {
    background-color: #555;
}

.table-container {
    margin: 20px;
    overflow-x: auto;
}

.colorful-table {
    width: 100%;
    border-collapse: separate;
    background-color: #fff;
}

.colorful-table th, .colorful-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #010101;
}

.colorful-table th {
    background: linear-gradient(to bottom right, #ff0088, #00ffff);
    color: white;
}


.colorful-table tr td {
    background: linear-gradient(to bottom right, #a8a5a6, #f9f9f9);
    color: rgb(0, 0, 0);
}