<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% for i in cjd %}
        
       <form action="{% url 'update_js' pk=i.userid%}" method="post" >
            {% csrf_token %}
            <pre>

                first name: <input type="text" name="fname" id="fname" width="200" value="{{i.first_name}}"><br>
                last name: <input type="text" name="lname" id="lname" width="200" value="{{i.last_name}}"><br>
                last name: <input type="text" name="uid" id="uid" width="200" value="{{i.userid}}"><br>
                city: <input type="text" name="city1 "id="city1" width="200" value="{{i.city}}"><br>
                state: <input type="text" name="state1" id="state1" width="200" value="{{i.state}}"><br>
                email-id: <input type="text" name="email1" id="email1" width="200" value="{{i.Email_id}}"><br>
                gender: <input type="text" name="gender1" id="gender1" width="200" value="{{i.gender}}"><br>
                DOB: <input type="text" name="dob1" id="dob1" width="200" value="{{i.date_of_birth}}"><br>
                Education: <input type="text" name="education1" id="education1" width="200" value="{{i.education}}"><br>
                Mobile Number: <input type="text" name="mno1" id="mno1" width="200" value="{{i.mobile_number}}"><br>
                <button type="submit">Update</button>
            </pre>
            
        </form>
</div>

{% endfor %}



</body>
</html>