<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colorful Webpage</title>
    <link rel="stylesheet" href="../../../static/css/home_index/about.css">
</head>
<body>

    <header>
        <h1>About Us</h1>
    </header>

    <section>
        <div class="card">
            <h2>Welcome User</h2>
            <p>This is the Worklancer.com not only a site it is a key towards your goals
            we provide the job as well as the work you give us skill
            we give u money apun ka hi paosa hai </p>

            <p>8349948003  , abhisheksahoo1573@gmail.com</p>
        </div>


    </section>

    <footer>
        <p>&copy; 2023 Your Website. All rights reserved.</p>
    </footer>

</body>
</html>
