
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3498db, #1abc9c);
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 400px;
    text-align: left;
}

h2 {
    color: #3498db;
}

input[type="text"], input[type="password"] ,input[type="conformpassword"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1abc9c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:5px;
}

button:hover {
    background-color: #148f77;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
